body {
	margin: 20px;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
}

a {
	color: #008fc6;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

input, select, textarea, button {
	width: 100%;
	border: none;
	padding: 10px;
	font-size: 1em;
	-webkit-appearance: none;
	font-family: 'Montserrat', sans-serif;
}

input, select, textarea {
	border-radius: 3px;
	border: 1px solid #dadada;
}

select {
	background-image: url("https://image.flaticon.com/icons/svg/25/25623.svg");
	background-repeat: no-repeat;
	background-position: 99% center;
	background-size: 12px 12px;
}

button, .button {
	color: #ffffff;
	cursor: pointer;
	font-weight: 600;
	padding: 10px 20px;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
	box-sizing: border-box;
	border: 1px solid #008fc6;
	background-color: #008fc6;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #dadada;
}

	table th {
		text-align: left;
		background-color: #f5f5f5;
		border-bottom: 1px solid #dadada;
	}

	table th, table td {
		padding: 10px;
		border-bottom: 1px solid #dadada;
	}

.wrapper {
	margin: 0 auto;
	max-width: 900px;
}

form li {
	padding: 5px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

	form li.half {
		float: left;
		width: 50%;
	}

form label {
	display: block;
	font-weight: 600;
	margin-bottom: 10px;
}

.error {
	border: 1px solid #ff0000;
}

	.error::-webkit-input-placeholder {
		color: #ff0000;
	}

.error-message {
	color: #ff0000;
	display: block;
	margin-top: 10px;
	padding-left: 3px;
}

.centered {
	text-align: center;
}

.right-aligned {
	text-align: right;
}

.buttons {
	text-align: right;
	margin-bottom: 30px;
}